@font-face {
  font-family: 'IRANSans';
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/IRANSansWeb.woff') format('woff');  /* All Major Browsers */
}
body {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: IRANSans !important;
  line-height: 1.5;
}

.main {
  position: relative;
}

form {
  outline: 0;
  float: right;
  margin-right: 15px;
  margin-top: 15px;
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

form > .textbox {
  direction: rtl;
  font-family: IRANSans !important;
  font-size: 20px;
  outline: 0;
  height: 52px;
  width: 244px;
  line-height: 42px;
  padding: 0 20px;
  background-color: rgba(255, 255, 255, 0.8);
  color: #212121;
  border: 0;
  float: right;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 4px 4px 4px 4px;
}

form > .textbox:focus {
  outline: 0;
  background-color: #FFF;
}

form > .button {
  outline: 0;
  background: none;
  background-color: rgba(38, 50, 56, 0.8);
  float: left;
  height: 42px;
  width: 42px;
  text-align: center;
  line-height: 42px;
  border: 0;
  color: #FFF;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: 16px;
  text-rendering: auto;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  -webkit-transition: background-color .4s ease;
  transition: background-color .4s ease;
  -webkit-border-radius: 0 4px 4px 0;
  border-radius: 4px 0 0 4px;
}

form > .button:hover {
  background-color: rgba(0, 150, 136, 0.8);
}


#map {
  z-index: -100;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 700px;
  width: 100%;
}

.modal {
  direction: rtl;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  height: 329px;
  border: 1px solid #888;
  border-radius: 12px;
  width: 35%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: left;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-form {
  -webkit-box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0) !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
hr {
  border: 0;
    border-top-color: currentcolor;
    border-top-style: none;
    border-top-width: 0px;
    border-bottom-color: currentcolor;
    border-bottom-style: none;
    border-bottom-width: 0px;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.modal-form #fname {
  font-family: IRANSans;
  border: 1px solid rgba(136, 136, 136, 0.623);
  border-radius: 4px;
  background-color: rgb(245, 245, 245);
  height: 27px;
  width: 182px;
  padding: 3px;
  padding-right: 5px;
}